header {
    background-color: #a92b2b;
    color: #fcfcfc;
    text-align: center;
    padding: 1rem;
    margin-bottom: 20px;
  }
  h1{
    font-size: 2rem;
    margin: 0;
  }

.card {
    width: 200px;
    border: 1px solid black;
    margin-bottom: 20px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
  }

#PokemonSprite{
    width: 200px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
}

#PokedexId {
    font-weight: bold;
    border-radius: 2px 0 0 2px;
    background-color: lightgray;
    border-left: 1px solid #797D82;
    border-bottom: 1px solid #797D82;
    border-top: 1px solid #797D82;
    font-size: 1.2em;
    padding-right: 0.1em;
}
#PokemonName{
    font-weight: bold;
    border-radius: 2px 0px  2;
    border-right: 1px solid #797D82;
    border-bottom: 1px solid #797D82;
    border-top: 1px solid #797D82;
    background-color: #fcfcfc;
    font-size: 1.2em;
    padding-left: 0.1em;
    padding-right: 0.3em;
}

.PokemonType1{
    font-weight: bold;
    color: white;
    border-radius: 0.9em 0.9em 0.9em 0.9em;
    border-left: 1px solid #797D82;
    border-right: 1px solid #797D82;
    border-bottom: 1px solid #797D82;
    border-top: 1px solid #797D82;
    padding-top: 0.3em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-bottom: 0.3em;
    font-size: 0.9em;
}

.PokemonType2{
    font-weight: bold;
    color: white;
    border-radius: 0.9em 0.9em 0.9em 0.9em;
    border-left: 1px solid #797D82;
    border-right: 1px solid #797D82;
    border-bottom: 1px solid #797D82;
    border-top: 1px solid #797D82;
    padding-top: 0.3em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-bottom: 0.3em;
    font-size: 0.9em;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 700px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.modal-content {
    padding: 20px;
    text-align: center;
}